#review_before_build {
  #build_form {
    padding: 0px;
    border: none;
    .modal-footer {
      border-top: none;
      padding: 0px;
    }
  }
  .list-group-item {
    background: transparent;
    border: none;
  }
  code {
    white-space: normal;
  }
}